---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import Main from "@/components/Main.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import PuzzleIcon from "@/components/icons/Puzzle.astro";
import SectionContainer from "@/components/SectionContainer.astro";

---

<Layout
  title="Portafolio de Ricardo Bebeto - Full Stack Developer"
  description="Portafolio de Ricardo Bebeto, Ingeniero en sistemas enfocado en el desarrollo/programación web."
>
  <main class="px-4">

    <!-- Intro -->
    <SectionContainer class="py-16 md:py-36">
        <Main/>
    </SectionContainer>

    <!-- Experience -->
    <SectionContainer id="experiencia" class="md:mb-20">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white" >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- AboutMe -->
    <SectionContainer id="sobre-mi" class="md:mb-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80" >
        <ProfileCheck class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <!-- Projects -->
    <SectionContainer id="proyectos" class="md:mb-20">
      <!-- <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white" >
        <PuzzleIcon class="size-7" />
        Proyectos
      </h2>
      Proximamente... -->
      <!-- <Projects /> -->
    </SectionContainer>

    
  </main>
</Layout>
