---
const personalImageAlt = "ricardo bebeto photo";
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Ricardo Bebeto, tengo 28 años y he trabajado en el desarrollo
      de varios sistemas CRM y ERP para empresas multinacionales.
    </p>

    <p>
      Entre mis proyectos universitarios destacan dos participaciones en
      Expociencias. El primero trata sobre un <strong >módulo digital de servicios escolares</strong
      >, y el segundo, del cual disfruté mucho mi participación, aborda un <strong
        >sistema holográfico como medio didáctico para niños con TDAH</strong
      >.
    </p>

    <p>
      Me apasiona mejorar mis habilidades de programación cada día, así como
      buscar información sobre las tecnologías actuales y las mejores prácticas.
      Creo que es fundamental estar al día y me gusta compartir mis
      descubrimientos con amigos y compañeros.
    </p>
  </div>

  <img
    src="/developer.png"
    class="rounded-full size-64 order-1 md:order-2 "
    alt={personalImageAlt}
  />
</article>