---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Octubre 2022 - Octubre 2023",
    title: "Programador Full-Stack",
    company: "Transcabo",
    description: "Programación web",
    link: "",
  },
  {
    date: "Noviembre 2019 - Septiembre 2022",
    title: "Programador",
    company: "IT Foundry",
    description: "Programación web",
    link: "",
  },
  {
    date: "Febrero 2019 - Julio 2019",
    title: "Residente",
    company: "Corporativo Gaviotas S.A de C.V.",
    description: "Desarrollo de un sistema para el nuevo modelo de negocio llamado Renting",
    link: "",
  }, 
  /* 
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  }, 
  */
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>