---
import ExperienceItem from "./ExperienceItem.astro"
const experienceArray = [
  {
    date: "Octubre 2022 - Octubre 2023",
    title: "Programador Full-Stack",
    company: "Transcabo",
    description: "Me especialicé en la optimización del sitio web Ecommerce, desarrollando nuevos módulos para el ERP y corrigiendo diseños responsivos en el sistema interno. Realicé análisis y reestructuración de consultas de base de datos para mejorar la velocidad de respuesta, además de liderar la migración de 4 módulos de Vue 2 a Vue 3 Composition API y el desarrollo de REST APIs para el acceso a terceros autorizados.",
    link: "",
  },
  {
    date: "Noviembre 2019 - Septiembre 2022",
    title: "Programador",
    company: "IT Foundry",
    description: "Participé activamente en el análisis de requerimientos para sistemas nuevos, lo que incluyó la creación de bibliotecas para procesos clave como contabilidad, facturación y gestión de archivos. Además, revisé y optimicé las librerías PHP y JavaScript de los sistemas internos,desarollo para trabajar con terminales TPV y firmas electrónicas, agilizando eficazmente los procesos de contratación.",
    link: "",
  },
  {
    date: "Febrero 2019 - Julio 2019",
    title: "Residente",
    company: "Corporativo Gaviotas S.A de C.V.",
    description: "Encargado del análisis, desarrollo de un módulo para un innovador modelo de negocios denominado Renting, y su posterior implementación en el sistema ERP existente. Asimismo, se encargó de la creación de bibliotecas para la gestión de archivos y facturación.",
    link: "",
  }, 
  /* 
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  }, 
  */
]
---

<ol class="relative mt-16">
  {
    experienceArray.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>